.header {
  display: flex;
  height: 50px;
  background-color: #333;
  padding: 5px;
}

.home {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.main-container {
  padding: 5px;
}

.home-link {
  display: block;
  text-decoration: none;
  height: 25px;
  width: 150px;
  border-radius: 15px;
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 16px;
  color: white;
  background-color: #3333ff;
}

table,
td {
  border: 1px solid black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  text-decoration: none;
  width: 150px;
  border-radius: 15px;
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 16px;
  color: white;
  background-color: #3333ff;
  border: 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.time {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
}

.flex-center {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.song-buttons {
  padding-top: 20px;
}

.search-bar {
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.search-input {
  border: 0px;
  border-radius: 10px;
  height: 28px;
  width: calc(100% - 150px);
}

.search-button {
  width: 146px;
  border-radius: 0px 10px 10px 0px;
  height: 30px;
  font-size: 16px;
  background-color: #cccccc;
  border: 0px;
  cursor: pointer;
}

.add-field {
  margin-bottom: 2px;
}

.add-button {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
  padding: 2px;
  line-height: 25px;
  font-size: 16px;
  color: white;
  background-color: #3333ff;
  border: 0px;
}

.add-label {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.add-error {
  color: red;
  margin-bottom: 10px;
}
